.tit_bar{
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 23.75px;
  background-color: white;
}
.tit_bar_1 {
  color: #C3170C;
  padding-left: 174px;
}
.tit_bar_2 {
  color: #1E4B9B;
}
.tit_bar_3 {
  color: #006766;
}
.tit_bar_4 {
  color: #07AA47;
}
.tit_bar_5 {
  color: #E3662B;
}
.tit_bar_6 {
  color: #FB0735;
}
.tit_bar_7 {
  color: #FF75BB;
}
.tit_bar_8 {
  color: #EC7D00;
}
.tit_bar_9 {
  color: #323333;
}
.tit_bar_10 {
  color: #A81D83;
  padding-right: 174px;
}